
.wrapper {
  display: flex;
}

/* サイドバー */

.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

/* サイドバー上部 */

.upper-side{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a {
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
  padding-left: 20px;
}

.create-room a {
  text-decoration: none;
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
}


/* サイドバー下部 */

.lower-side{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 20px 40px 20px;
}

.room-name a {
  text-decoration: none;
  color: white;
}

/* メイン画面 */

.main-chat{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #ffffff;
}

/* メイン画面 上部*/

.head-main{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-name {
  font-size: 24px;
  color: #333;
  padding-top: 36px;
  padding-left: 40px;
}

.exit{
  padding: 20px 0;
}

.exit-chat a {
  color: darkred;
  border:  1px solid darkred;
  padding: 20px;
  text-decoration: none;
}

/* メイン画面  中部*/

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

/* メイン画面 下部*/
.form{
  background-color: #dddddd;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.message-bar{
  display: flex; 
  justify-content: space-between;
  background-color: white;
  width: 100%;
}

.form-message{
  padding-left: 10px;
  width: 100px;
  height: 50px;
  border: none;
}


.send{
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border: none;
}

.form-image{
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}